/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}





/***********/
/*ROOT*/
/***********/
:root {
  --basis-kleur-zwart: #000;
  --kleur-wit: #fff;
  --animatiekleur: rgb(255, 0, 0);
}



@font-face {
  font-family: "gothambold1";
  src: url(fonts/gothambold-webfont.woff) format("woff");
  font-family: "gothambold2";
  src: url(fonts/gothambold-webfont.woff2) format("woff2");
}





/***********/
/*ALGEMENE STIJL*/
/***********/
body {
  margin: 0;
  background-color: var(--basis-kleur-zwart);
  font-family: "gothambold1";

}





/***********/
/*NAVIGATIE */
/***********/
nav {
  color: var(--kleur-wit);
  position: relative;
  display: flex;
  align-items: center;
  z-index: 200;
}

nav ul {
  background-color: var(--basis-kleur-zwart);
  color: var(--kleur-wit);
  position: fixed;
  margin: 0;
  list-style: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  transform: translateX(-99%);
  transition: 0.3s;

}

nav button:first-of-type {
  width: 1.5em;
  height: 1.5em;
  color: white;
  background-color: black;
  border: none;
  font-size: 1.5em;

}

nav.toonMenu button:first-of-type {
  display: none;
}

nav button:nth-of-type(2) {
  border-radius: 1em;
  color: white;
  border: none;
  background-color: gray;
  width: 2em;
  height: 2em;
  position: absolute;
  right: -11em;
  top: 0.5em;
  z-index: 100;
  display: none;

}

nav.toonMenu button:nth-of-type(2) {
  display: block;
}



nav.toonMenu ul {
  transform: translateX(0%);


}

nav li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: .2em;
  padding: 0.3em;
  width: 100%;
  font-size: 1em;

}

nav a {
  color: white;
  font-size: 1em;
  font-weight: normal;
  gap: .25em;
  padding: .25em 1em;
  border-top: solid 1px var(--menu-border-color);
}

nav a img {
  width: auto;
  height: 2em;
}

nav a.active {
  font-weight: bold;
}





/***********/
/*NAVIGATIE als de min width 64em is*/
/***********/
@media (min-width:60em) {
  nav {
    order: 0;
    justify-self: center;

  }

  nav button {
    display: none;

  }

  nav ul {
    position: relative;
    transform: none;

    display: flex;
    padding: 0;
    background-color: transparent;
  }

  nav a {
    border: none;
    color: white;

  }

  /*Bern heeft me hiermee geholen*/
  nav a::after {
    content: "";
    text-decoration: none;
    height: 1px;
    width: 100%;
    display: block;
    background-color: currentColor;
    transition: transform .3s;
    transform-origin: bottom left;
    transform: scaleX(0);

  }

  nav a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}






/***********/
/*Header*/
/***********/
header {
  background-color: var(--basis-kleur-zwart);
  padding: .5em .5em;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  font-family: "gothambold1";
}

header a {
  text-decoration: none;
}





/***********/
/*Main -> article 1 */
/***********/
article:first-of-type {
  position: relative;
  z-index: 1;

}

/* Toestemming van Sanne */
article:first-of-type div {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: .2em .4em;
  background-image: linear-gradient(rgb(0 0 0 / 0), black);

}


article img:nth-of-type(1) {
  width: 23.43em;
  height: 14.5em;
}

article div:first-of-type button {
  border-radius: 1em;
  color: var(--basis-kleur-zwart);
  border: none;
  background-color: var(--kleur-wit);
  width: 2em;
  height: 2em;
}

h2 {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: "gothambold1";
}

h3 {
  color: white;
  font-size: 1em;
  line-height: 1em;
  font-family: "gothambold1";
}

/* Code om de button te animeren */
@keyframes afspelen-animatie {
  0% {
    width: 2em;
    border-radius: 0;
    background-color: var(--start-color);
  }

  50% {
    width: 4em;
    border-radius: .5em;
    background-color: var(--end-color);
  }

  100% {
    width: 1em;
    border-radius: 0;
    background-color: var(--start-color);
  }
}

section.andere-properties {
  --start-color: crimson;
  --end-color: gold;
}




/***********/
/*Section 2*/
/***********/
section a:first-of-type {
  color: white;
  font-size: 1.2em;
  line-height: 1.3em;

}



/***********/
/*Section 3*/
/***********/
section:nth-of-type(2) {
  display: flex;
  align-items: center;
}






/***********/
/*article 4*/
/***********/
article a:nth-child(2) {
  width: 320px;
  height: 180.11px;
}




/***********/
/*Section 5*/
/***********/
section {
  display: flex;
  margin: 1em;
  gap: .3em;

}

section:nth-of-type(3) {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

section>a>img {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 5.73em;

}





/***********/
/*Section 5*/
/***********/
section {
  display: flex;
  margin: 1em;
  gap: .3em;

}

section:nth-of-type(4) {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

section>a>img {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 5.73em;

}





/*********************/
/*section 7 met buttons*/
/*********************/
section:nth-of-type(7) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;

}

section button {
  border-radius: 1em;
  color: var(--basis-kleur-zwart);
  border: none;
  background-color: var(--kleur-wit);
  width: 2em;
  height: 2em;
}




/***********/
/*letter styling*/
/***********/
h1 {
  color: var(--basis-kleur-zwart);
  font-size: 1em;
}


p {
  color: var(--kleur-wit);
  font-size: .75em;
}

a {
  color: var(--kleur-wit);
  font-size: .75em;
  text-decoration: none;
}